# Object files
*.o
*.ko
*.obj
*.elf
main
1

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Apt NFS files
.nfs000*

# CMake
build
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeScripts
Makefile
Testing
CTestTestfile.cmake
